#game-card {
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 10px;
    height: 180px;
    width: 320px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 5px 5px 10px lightgray;
}

#game-card h3 {
    color: #3A3E49;
    font-weight: bold;
}

#game-card p {
    color: #3A3E49;
    margin: 0;
}
