#home-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    min-height: 100%;
    padding: 20px 0px;
    /* background-color: black; */
}

#home-header {
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3A3E49;
    position: relative;
    margin-bottom: 30px;
    border: 1px #FFBA50 solid;
}

#home-header h2 {
    font-size: 25px;
    margin: 0;
    color: white;
    margin: 0px 15px 10px 0px;
    padding-left: 20px;
}

.games {
    margin-top: 25px;
    min-height: 500px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}

.games h3 {
    font-size: 20px;
}

.current-games-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f3f3f3;
    padding: 20px;
}

.current-games-header h3 {
    margin: 0;
    color: #3A3E49;
}

.new-game-button {
    background-color: #D92738;
    border: #D92738 solid 1px;
    position: absolute;
    left: 50%;
    margin-left: -78px;
    bottom: -18px;
}

.new-game-button:hover {
    background-color: #D92738;
    border: #D92738 solid 1px;
} */

#current-games-content {
   min-height: 400px;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-button {
    height: 45px;
    width: 45px;
}

#home-logo-wrapper {
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 8px;
}

#home-logo-wrapper img {
    height: 100%;
}
