#sign-in {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f3f3f3;*/
}

#sign-in-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*box-shadow: 5px 5px 10px lightgray;*/
    padding: 10px;
    border-radius: 5px;
    opacity: 0.95;

}

#sign-in-header {
    padding: 30px;
    text-align: center;
    width: 100%;
    background-color: #f3f3f3;
}

#sign-in-forms {
    padding: 30px;
}

#sign-in-forms .ant-btn {
    width: 100%;
    margin-top: 12px;
}

.google-connection-button .ant-btn {
    background-color: rgb(250, 68, 71);
    color: white;
    border: none;
}

#no-account {
    padding: 10px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form .ant-input-affix-wrapper {
    margin: 10px 0px !important;
}