#sign-up {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f3f3f3;*/
}

#sign-up-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.95;
    /*box-shadow: 5px 5px 10px lightgrey;*/
}

#sign-up-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-up-form .ant-input-affix-wrapper {
    margin: 10px 0px !important;
}

#sign-up-form .ant-btn {
    width: 100%;
    margin-top: 12px;
}